<div class="modal-header">
    <div class="row w-100">
      <div class="col-11">
        <h4 class="modal-title" id="modal-basic-title">Registrar Cliente </h4>    
      </div>
      <div class="col-1">
        <span (click)="onCerrar()" class="btn-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  
  <div class="modal-body">

<div id="servicios">
    <table class="table" aria-label="Servicios Disponibles">
  
      <thead>
        <th> ID </th>
        <th> idCliente </th>
        <th> idConductor </th>
        <th> origen </th>
        <th> destino</th>
        <th> fechaServicio </th>
        <th> valor </th>
        <th> descripcion </th>
        <th> Opcion </th>
  
  
      </thead>
      <tbody>
        <tr *ngFor="let item of listaServicios | async" class="columnas">
          <td>{{item.id}}</td> 
          <td>{{item.idCliente}}</td>
          <td>{{item.idConductor}}</td>
          <td>{{item.origen}}</td>
          <td>{{item.destino}}</td>
          <td>{{item.fechaServicio}}</td>
          <td>{{item.valor}}</td>
          <td>{{item.descripcion}}</td>
        </tr>
      </tbody>
  
    </table>
  </div>
</div>