.botonAceptar{
    padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: darkslategrey;
  font-weight: bold; 
}

.columnas{
  color: black;
}


